<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Accueil</title>
</head>
<body>
    <section class="menu">
        <nav class="navbar navbar-expand-lg navbar-light  ">
            <div class="container">
                <a class="navbar-brand " href="/"><img class="logo w-75" src="images/logocovid0.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">ACCUEIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#preven">PREVENTION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="connexion">EVOLUTION MONDIAL</a>
                        </li>
                    </ul>
                   <div class="d-flex">
                    <button type="button" class="btn btn-outline-dark btn,"><a href="connexion">  connexion  <i class="fas fa-sign-in-alt"> </i></a> </button>
                    
                   </div>
                </div>
            </div>
        </nav>
    </section>

    <section class="slider">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        
        
        
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class=" d-block w-100 image" src="images/covid1.png" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img class=" d-block w-100 image" src="images/Visuel 2.png" alt="Chicago">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 image" src="images/Visuel 3.png" alt="New York">
                </div>
        
        
                <div class="carousel-item">
                    <img class="d-block w-100 image" src="images/Visuel 4.png" alt="New">
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100 image" src="images/image4.jpg" alt="New">
                </div>
        
            </div>
        
            <!-- Left and right controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        
        </div>
    </section>

    <section class="about container">
        <div>
                <h1 class="text-center">Qu'est-ce que la maladie à Coronavirus Covid-19 ?</h1>
                <br>
            <div class="container">
            
                <div class="part1 col-lg-12 col-md-12 col-sm-12"> 
                    <p>La COVID-19 est la maladie infectieuse causée par le dernier
                         coronavirus qui a été découvert. Ce nouveau virus et cette maladie étaient 
                        inconnus avant l’apparition de la flambée à Wuhan (Chine) en décembre 2019</p>
                </div>
                <div class="part2 col-lg-12 col-md-12 col-sm-12">
                    <p>Les symptômes les plus courants de la COVID-19 sont la fièvre, 
                        la fatigue et une toux sèche. Certains patients présentent des douleurs,
                         une congestion nasale, un écoulement nasal, des maux de gorge ou une 
                         diarrhée. Ces symptômes sont généralement bénins et apparaissent de
                          manière progressive. Certaines personnes, bien qu’infectées, ne
                           présentent aucun symptôme et se sentent bien. La plupart (environ 80 %)
                            des personnes guérissent sans avoir besoin de traitement particulier. 
                            Environ une personne sur six contractant la maladie présente des 
                            symptômes plus graves, notamment une 
                            dyspnée. Les personnes âgées et celles qui ont d’autres problèmes de santé
                             (hypertension artérielle, problèmes cardiaques ou diabète) ont plus de risques
                                 de présenter des symptômes graves. Toute personne qui a de la fièvre,
                                  qui tousse et qui a des difficultés à respirer doit consulter un médecin.
            
                                La COVID-19 est transmise par des personnes porteuses du virus. La maladie 
                                peut se transmettre d’une personne à l’autre par le biais de gouttelette
                                respiratoires expulsées par le nez ou par la bouche lorsqu’une personne.
                    
                    </p>
                        
                                                
    
                    
                </div>
               
            </div>
            
        </div>
    </section>

    <section class="prevention" style="background-color:#f1f3f5fa" id="preven">
        <div class="container prevention1">
            <h2 class="text-center">COMMENT SE PROTEGER</h2>
            <p class="prevention1">Les mesures de prevention contre le coronavirus (Covid-19)</p>
        </div>
    
        <div class="container">
            <div class="row">
                <div class=" ccc  col-lg-6 col-md-6 col-sm-12">
                    <div class=" ">
                        <div class=" block">
                          <div class="d-flex" style="border: 1px solid;">
                            <div class="container">
                                <img  class="w-75" src="images/laver.png " alt="">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Se laver les mains</h5>
                              <p class="card-text">Se laver fréquemment les mains avec un désinfectant à base d’alcool ou de l’eau avec du savon.</p>
                              
                            </div>
                          </div>
                        </div>

                        <div class="block">
                          <div class="d-flex" style="border: 1px solid;">
                            <div class="container">
                                <img  class="w-75" src="images/nez.png " alt="">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Se couvrir la bouche et le Nez</h5>
                              <p class="card-text">En cas de toux et d’éternuements, se couvrir la bouche et le nez avec le coude fléchi ou un mouchoir. Jeter immédiatement le mouchoir et se laver les mains.</p>
                              
                            </div>
                          </div>
                        </div>
                      
                      <div class="block">
                        <div class="d-flex" style="border: 1px solid;">
                            <div class="container">
                                <img  class="w-50" src="images/masque.png" alt="">
                            </div>
                            
                              <div class="card-body">
                                <h5 class="card-title">Prendre ses distances</h5>
                                <p class="card-text text-center">Eviter tout contact étroit avec une personne ayant de la fièvre et de la toux.</p>
                                
                            
                            </div>
                        </div>
                      </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class ="">
                        <div class="  ">

                            <div class="block">
                                
                                <div class="d-flex " style="border: 1px solid;">
                                    <div class="container">
                                        <img  class="w-50" src="images/toucher.png" alt="">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" >Pas de contact corporel</h5>
                                        <p class="card-text">Saluer sans se serrer la main, éviter les embrassades.</p>
                                       
                                      </div>
                                    </div>
                            </div>
       
                           <div class="block">
                           
                            <div class="d-flex" style="border: 1px solid;">
                                <div class="container">
                                    <img  class="w-50" src="images/netoyage.png" alt="">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Toujours Nettoyer</h5>
                                    <p class="card-text">Nettoyer les objets et les surfaces souillées.</p>
                                    
                                  </div>
                                </div>
                           </div>
       
                            <div class="block">
                               
                                <div class="d-flex" style="border: 1px solid;">
                                    <div class="container">
                                        <img  class="w-50" src="images/propre.png " alt="">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Restez chez-vous</h5>
                                        <p class="card-text">Nettoyer les objets et les surfaces souillés.</p>
                                      </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

        </div>
    </section>

    <section class="centre">
        <div class="container">
            <div class="appel">
                <i class="fas fa-mobile-alt"></i>
                <p>APPELER LES NUMEROS VERT 119/143/101/125 </p>
            </div>
            <div class="cas" >
                <h1 class="text-center">Situation Épidémiologique en Cote d'Ivoire</h1>
            <div class="cas1">
              <div class="container">

                <!-- <div class="row">
                    <div class="col-12 col-lg-4 col-md-4">
                      <div class="jumbotron rouge">
                                <p class="text-center">${data.cases}</p>
                                <h6 class="text-center">Cas confirmés au total</h6>
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4">
                      <div class="jumbotron orange">
                        <p class="text-center">${data.active}</p>
                        <h6 class="text-center">Cas actifs</h6>
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4">
                      <div class="jumbotron vert">
                        <p class="text-center">${data.recovered}</p>
                        <h6 class="text-center">Cas guéris</h6>
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-4 col-md-4">
                      <div class="jumbotron noir">
                        <p class="text-center">${data.deaths}</p>
                        <h6 class="text-center">Décès</h6>
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4">
                      <div class="jumbotron bleu">
                        <p class="text-center">${data.tests}</p>
                        <h6 class="text-center">Nombre total de tests</h6>
                      </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-4">
                      <div class="jumbotron">
                        <h5 class="card-title">${data.updated}</h5>
                         <p class="card-text">gjyjgyjyj</p>
                      </div>
                    </div>
                </div> -->

              </div>
             </div>
            
        </div>
    </section>
<!--     
    <section class="carousel" >
        <div class="container carousel1">

            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="images/images1.png" alt="Card image cap"> 
            </div>

            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="images/images2.png" alt="Card image cap">
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/images3.png" alt="Card image cap">
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/images4.png" alt="Card image cap">
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/images5.png" alt="Card image cap">
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/images6.jpg" alt="Card image cap">
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/images7.jpg" alt="Card image cap">
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/images8.jpg" alt="Card image cap">
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/images9.jpg" alt="Card image cap">
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/images10.png" alt="Card image cap">
            </div>
          
        </div>
    </section> -->


    <footer class="text-center  fixed-botton">

        <h5>© Promotio de Santé Abidjan-Côte d'Ivoire 2022</h5>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0eca8d30fc.js" crossorigin="anonymous"></script>
    <script src="./sante.js"></script>
</body>
</html>